.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 70px;
}

.baloon {
  position: absolute;
  z-index: 0;
  left: 200px;
  width: 230px;
}

.speech {
  font-size: 17px;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 210px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 250px;
  left: 350px;
  z-index: 3;
}